article.journal-card.journal-card_size_sm
  a.journal-card__link(href="#")
    .journal-card__picture-wrapper
      picture.journal-card__picture
        img.journal-card__picture-img(
          src="wp-content/themes/trading/august/img/journal/journal-sm.jpg"
          alt=""
          width="360"
          height="280"
        )
      //- p.journal-card__label #Криптовалюта
    h2.journal-card__title Пользователям TrendUP стал доступен демо&#8209;курс “Инвестиции по&#8209;американски”

  .journal-card__controls
    p.journal-card__date 25 авг 2021

    p.journal-card__controls-item.journal-card__views(aria-label="Количество просмотров")
      svg(class="journal-card__controls-item-icon icon" width="24" height="24")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#eye")
      | 567

    button.journal-card__controls-item.journal-card__favorite(
      type="button"
      aria-label="Добавить в избранное"
    )
      svg(class="journal-card__controls-item-icon icon" width="24" height="24")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#like")
      | 285

    button.journal-card__controls-item.journal-card__messages(
      type="button"
      aria-label="Посмотреть комментарии"
    )
      svg(class="journal-card__controls-item-icon icon" width="24" height="24")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#message-circle")
      | 345
