section.experts
  .container
    h2.experts__title.section-title Эксперты TrendUP
    p.experts__desc Опытные преподаватели обучают сохранять и преумножать Ваш капитал

  .experts__slider-wrapper.container
    .experts__slider.swiper-container
      .experts__list.swiper-wrapper
        .experts__item.swiper-slide
          picture.experts__item-picture
            source(
              media="(min-width: 1024px)"
              srcset="wp-content/themes/trading/august/img/experts/experts-1.jpg, wp-content/themes/trading/august/img/experts/experts-1@2x.jpg 2x"
            )
            source(
              media="(min-width: 500px)"
              srcset="wp-content/themes/trading/august/img/experts/experts-1-md.jpg, wp-content/themes/trading/august/img/experts/experts-1-md@2x.jpg 2x"
            )
            img.experts__item-picture-img(
              src="wp-content/themes/trading/august/img/experts/experts-1.jpg"
              srcset="wp-content/themes/trading/august/img/experts/experts-1@2x.jpg 2x"
              alt="Артем Сребный"
              width="371"
              height="450"
            )
          h3.experts__item-title Артем Сребный
          p.experts__item-desc Специалист в области биржевой торговли
          a.experts__item-link(href="/experts/srebnyi/" target="_blank") Подробнее

        .experts__item.swiper-slide
          picture.experts__item-picture
            source(
              media="(min-width: 1024px)"
              srcset="wp-content/themes/trading/august/img/experts/experts-2.jpg, wp-content/themes/trading/august/img/experts/experts-2@2x.jpg 2x"
            )
            source(
              media="(min-width: 500px)"
              srcset="wp-content/themes/trading/august/img/experts/experts-2-md.jpg, wp-content/themes/trading/august/img/experts/experts-2-md@2x.jpg 2x"
            )
            img.experts__item-picture-img(
              src="wp-content/themes/trading/august/img/experts/experts-2.jpg"
              srcset="wp-content/themes/trading/august/img/experts/experts-2@2x.jpg 2x"
              alt="Александр Поляков"
              width="371"
              height="450"
            )
          h3.experts__item-title Александр Поляков
          p.experts__item-desc Специалист в области инвестиций
          a.experts__item-link(href="/experts/polyakov/" target="_blank") Подробнее

        .experts__item.swiper-slide
          picture.experts__item-picture
            source(
              media="(min-width: 1024px)"
              srcset="wp-content/themes/trading/august/img/experts/experts-3.jpg, wp-content/themes/trading/august/img/experts/experts-3@2x.jpg 2x"
            )
            source(
              media="(min-width: 500px)"
              srcset="wp-content/themes/trading/august/img/experts/experts-3-md.jpg, wp-content/themes/trading/august/img/experts/experts-3-md@2x.jpg 2x"
            )
            img.experts__item-picture-img(
              src="wp-content/themes/trading/august/img/experts/experts-3.jpg"
              srcset="wp-content/themes/trading/august/img/experts/experts-3@2x.jpg 2x"
              alt="Кирилл Перваков"
              width="371"
              height="450"
            )
          h3.experts__item-title Кирилл Перваков
          p.experts__item-desc Специалист в области трейдинга
          a.experts__item-link(href="/experts/pervakov/" target="_blank") Подробнее

    //- .experts__controls
    //-   .experts__pagination

    //-   button.experts__prev.btn-navigate.btn-navigate_color_dark(type="button" aria-label="Назад")
    //-     svg(class="btn-navigate__icon icon" width="24" height="24")
    //-       use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#chevron-left")

    //-   button.experts__next.btn-navigate.btn-navigate_color_dark(type="button" aria-label="Вперед")
    //-     svg(class="btn-navigate__icon icon" width="24" height="24")
    //-       use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#chevron-right")
