section.account-personal
  .container
    h1.account-personal__title Личная информация

    form.account-personal__form(
      action="/wp-json/user/update-contacts/"
      method="post"
      novalidate
    )
      .account-personal__form-header
        label.account-personal__avatar
          input.account-personal__avatar-input(
            type="file"
            name="avatar"
            id="avatar"
            accept=".jpg, .jpeg, .png"
          )
          picture.account-personal__avatar-picture
            img.account-personal__avatar-img(
              src="wp-content/themes/trading/august/img/avatar.jpg"
              alt=""
              width="78"
              height="78"
            )

        .account-personal__form-header-right
          p.account-personal__fullname Кожамниязов Ислам
          //- label.account-personal__change-avatar(for="avatar") Изменить фотографию

      .account-personal__form-body
        p.account-personal__form-title Информация

        .account-personal__form-fields
          .field
            input.field__control(
              type="text"
              name="name"
              id="name"
              value="Ислам"
              minlength="3"
              required
            )
            label.field__label(for="name") Ваше имя

          .field
            input.field__control(
              type="text"
              name="phone"
              id="phone"
              value="+7 (708) 371-28-80"
              required
            )
            label.field__label(for="phone") Ваш номер телефона

          .field
            input.field__control(
              type="text"
              name="surname"
              id="surname"
              value="Кожамниязов"
              required
            )
            label.field__label(for="phone") Ваша фамилия

          .field
            input.field__control(
              type="text"
              name="birthdate"
              id="birthday"
              value="17.06.2001"
              autocomplete="off"
            )
            label.field__label(for="birthday") Дата рождения

          .field
            input.field__control(
              type="text"
              name="patronymic "
              id="patronymic "
              value="Тахиржанович"
              required
            )
            label.field__label(for="phone") Ваше отчество

          //- .field
          //-   input.field__control(
          //-     type="email"
          //-     name="email"
          //-     id="email"
          //-     value="kozhamniyazov01@gmail.com"
          //-     required
          //-   )
          //-   label.field__label(for="phone") kozhamniyazov01@gmail.com

        button.account-personal__form-submit.btn-primary(type="submit") Сохранить изменения

        .account-personal__form-status.account-personal__form-status_success
          svg(class="account-personal__form-status-icon icon" width="40" height="40")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#check-circle")
          p.account-personal__form-status-title Изменения сохранены
            span.account-personal__form-status-desc Данные будут отображаться на вашей странице

        .account-personal__form-status.account-personal__form-status_danger
          svg(class="account-personal__form-status-icon icon" width="40" height="40")
            use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#close-circle")
          p.account-personal__form-status-title Ошибка изменения данных
            span.account-personal__form-status-desc Данные введены некоректно

