section.included-training
  .included-training__inner.container
    h2.included-training__title.section-title Что входит в&nbsp;обучение

    ul.included-training__list
      li.included-training__item
        picture
          source(
            media="(min-width: 1440px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-1.jpg, wp-content/themes/trading/august/img/included-training/included-training-1@2x.jpg 2x"
          )
          source(
            media="(min-width: 1024px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-1-lg.jpg, wp-content/themes/trading/august/img/included-training/included-training-1-lg@2x.jpg 2x"
          )
          source(
            media="(min-width: 834px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-1-md.jpg, wp-content/themes/trading/august/img/included-training/included-training-1-md@2x.jpg 2x"
          )
          source(
            media="(min-width: 500px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-1-sm.jpg, wp-content/themes/trading/august/img/included-training/included-training-1-sm@2x.jpg 2x"
          )
          img.included-training__item-img(
            src="wp-content/themes/trading/august/img/included-training/included-training-1-xsm.jpg"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-1-xsm@2x.jpg 2x"
            alt="Вебинары"
            width="519"
            height="623"
          )
        h3.included-training__item-title Вебинары
        p.included-training__item-desc Проходите практические занятия с преподавателями в виде вебинарах

      li.included-training__item
        picture
          source(
            media="(min-width: 1440px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-2.jpg, wp-content/themes/trading/august/img/included-training/included-training-2@2x.jpg 2x"
          )
          source(
            media="(min-width: 1024px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-2-lg.jpg, wp-content/themes/trading/august/img/included-training/included-training-2-lg@2x.jpg 2x"
          )
          source(
            media="(min-width: 834px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-2-md.jpg, wp-content/themes/trading/august/img/included-training/included-training-2-md@2x.jpg 2x"
          )
          source(
            media="(min-width: 500px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-2-sm.jpg, wp-content/themes/trading/august/img/included-training/included-training-2-sm@2x.jpg 2x"
          )
          img.included-training__item-img(
            src="wp-content/themes/trading/august/img/included-training/included-training-2-xsm.jpg"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-2-xsm@2x.jpg 2x"
            alt="Консультации"
            width="519"
            height="623"
          )
        h3.included-training__item-title Консультации
        p.included-training__item-desc Вам всегда будет доступен чат с нашими экспертами и чат технической поддержки

      li.included-training__item.included-training__item_hide
        picture
          source(
            media="(min-width: 1440px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-3.jpg, wp-content/themes/trading/august/img/included-training/included-training-3@2x.jpg 2x"
          )
          source(
            media="(min-width: 1024px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-3-lg.jpg, wp-content/themes/trading/august/img/included-training/included-training-3-lg@2x.jpg 2x"
          )
          source(
            media="(min-width: 834px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-3-md.jpg, wp-content/themes/trading/august/img/included-training/included-training-3-md@2x.jpg 2x"
          )
          source(
            media="(min-width: 500px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-3-sm.jpg, wp-content/themes/trading/august/img/included-training/included-training-3-sm@2x.jpg 2x"
          )
          img.included-training__item-img(
            src="wp-content/themes/trading/august/img/included-training/included-training-3-xsm.jpg"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-3-xsm@2x.jpg 2x"
            alt="Учебные материалы"
            width="519"
            height="623"
          )
        h3.included-training__item-title Учебные материалы
        p.included-training__item-desc Проходите видео-уроки и получите доступ к полезным материалам, а также к базе знаний.

      li.included-training__item.included-training__item_hide
        picture
          source(
            media="(min-width: 1440px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-4.jpg, wp-content/themes/trading/august/img/included-training/included-training-4@2x.jpg 2x"
          )
          source(
            media="(min-width: 1024px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-4-lg.jpg, wp-content/themes/trading/august/img/included-training/included-training-4-lg@2x.jpg 2x"
          )
          source(
            media="(min-width: 834px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-4-md.jpg, wp-content/themes/trading/august/img/included-training/included-training-4-md@2x.jpg 2x"
          )
          source(
            media="(min-width: 500px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-4-sm.jpg, wp-content/themes/trading/august/img/included-training/included-training-4-sm@2x.jpg 2x"
          )
          img.included-training__item-img(
            src="wp-content/themes/trading/august/img/included-training/included-training-4-xsm.jpg"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-4-xsm@2x.jpg 2x"
            alt="Тесты"
            width="519"
            height="623"
          )
        h3.included-training__item-title Тесты
        p.included-training__item-desc Проходите тесты и экзамены. Повышайте свой ранг и прокачивайте знания

      li.included-training__item.included-training__item_hide
        picture
          source(
            media="(min-width: 1440px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-5.jpg, wp-content/themes/trading/august/img/included-training/included-training-5@2x.jpg 2x"
          )
          source(
            media="(min-width: 1024px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-5-lg.jpg, wp-content/themes/trading/august/img/included-training/included-training-5-lg@2x.jpg 2x"
          )
          source(
            media="(min-width: 834px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-5-md.jpg, wp-content/themes/trading/august/img/included-training/included-training-5-md@2x.jpg 2x"
          )
          source(
            media="(min-width: 500px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-5-sm.jpg, wp-content/themes/trading/august/img/included-training/included-training-5-sm@2x.jpg 2x"
          )
          img.included-training__item-img(
            src="wp-content/themes/trading/august/img/included-training/included-training-5-xsm.jpg"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-5-xsm@2x.jpg 2x"
            alt="Составление портфеля"
            width="519"
            height="623"
          )
        h3.included-training__item-title Составление портфеля
        p.included-training__item-desc После прохождения обучения, вы соберете свой собственный инвестиционный портфель, который проверит наш преподаватель

      li.included-training__item.included-training__item_hide
        picture
          source(
            media="(min-width: 1440px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-6.jpg, wp-content/themes/trading/august/img/included-training/included-training-6@2x.jpg 2x"
          )
          source(
            media="(min-width: 1024px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-6-lg.jpg, wp-content/themes/trading/august/img/included-training/included-training-6-lg@2x.jpg 2x"
          )
          source(
            media="(min-width: 834px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-6-md.jpg, wp-content/themes/trading/august/img/included-training/included-training-6-md@2x.jpg 2x"
          )
          source(
            media="(min-width: 500px)"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-6-sm.jpg, wp-content/themes/trading/august/img/included-training/included-training-6-sm@2x.jpg 2x"
          )
          img.included-training__item-img(
            src="wp-content/themes/trading/august/img/included-training/included-training-6-xsm.jpg"
            srcset="wp-content/themes/trading/august/img/included-training/included-training-6-xsm@2x.jpg 2x"
            alt="Инвестируете"
            width="519"
            height="623"
          )
        h3.included-training__item-title Инвестируете
        p.included-training__item-desc После одобрения инвестиционного портфеля от наших экспертов Вы покупаете акции и облигации и становитесь инвестором

    button.included-training__show-more.btn-outline Смотреть дальше 
