section.expert
  header.expert__header
    .container
      h2.expert__title Кирилл Перваков
      p.expert__activity Специалист в области трейдинга

      //- .expert__social-rating
      //-   ul.social.expert__social
      //-     include ../../social/social
      //-   include ../../personal-rating/personal-rating

  .container
    .expert__content
      .expert__info
        h3.expert__info-title В двух словах о себе:

        .expert__info-desc
          p Победил в конкурсе с большим количеством участников и получил должность трейдера-аналитика. Управляю счётами компании. Кроме трейдинга, инвестирую в фондовые биржи и являюсь преподавателем курса «Биржа».

        ul.expert__features
          li.expert__features-item
            p.expert__features-title 2017
            p.expert__features-subtitle Являлся учеником TrendUp
            p.expert__features-desc Прошел обучение в школе биржевой торговли TrendUp

          li.expert__features-item
            p.expert__features-title 2020
            p.expert__features-subtitle Стал аналитиком школы
            p.expert__features-desc Прошел большой конкурс и попал в школу trendup на должность трейдера-аналитика

          li.expert__features-item
            p.expert__features-title 2021
            p.expert__features-subtitle Квалификация по брокерской деятельности
            p.expert__features-desc Получил квалификацию специалиста финансового рынка по брокерской деятельности, дилерской деятельности, деятельности по управлению ценными бумагами и деятельности форекс-дилера.

      img.expert__photo(
        src="wp-content/themes/trading/august/img/expert/expert-3.jpg"
        srcset="wp-content/themes/trading/august/img/expert/expert-3@2x.jpg 2x"
        alt="Кирилл Перваков"
        width="566"
        height="711"
      )
