section.expert
  header.expert__header
    .container
      h2.expert__title Александр Поляков
      p.expert__activity Специалист в области инвестиций

      //- .expert__social-rating
      //-   ul.social.expert__social
      //-     include ../../social/social
      //-   include ../../personal-rating/personal-rating

  .container
    .expert__content
      .expert__info
        h3.expert__info-title В двух словах о себе:

        .expert__info-desc
          p Занимаюсь  торговлей биржевыми опционами, инвестируя собственные средства и средства компании в фондовые рынки различных государств. Являюсь преподавателем курса  «Инвестиции по-американски».

        ul.expert__features
          li.expert__features-item
            p.expert__features-title 2018
            p.expert__features-subtitle Квалификация по брокерской деятельности
            p.expert__features-desc Получил квалификацию специалиста финансового рынка по брокерской деятельности, дилерской деятельности, деятельности по управлению ценными бумагами и деятельности форекс-дилера.

          li.expert__features-item
            p.expert__features-title 2018
            p.expert__features-subtitle Стал куратором TrendUp
            p.expert__features-desc Стал куратором учеников биржевой торговли школы TrendUp. Вошел в основной  преподавательский состав. С тех пор является полноценным членом команды.

          li.expert__features-item
            p.expert__features-title 2020
            p.expert__features-subtitle Квалификация по управлению фондами
            p.expert__features-desc Получил квалификацию специалиста финансового рынка по деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами

      img.expert__photo(
        src="wp-content/themes/trading/august/img/expert/expert-2.jpg"
        srcset="wp-content/themes/trading/august/img/expert/expert-2@2x.jpg 2x"
        alt="Александр Поляков"
        width="566"
        height="711"
      )
