section.expert
  header.expert__header
    .container
      h2.expert__title Артем Сребный
      p.expert__activity Специалист в области биржевой торговли

      //- .expert__social-rating
      //-   ul.social.expert__social
      //-     include ../../social/social
      //-   include ../../personal-rating/personal-rating

  .container
    .expert__content
      .expert__info
        h3.expert__info-title В двух словах о себе:

        .expert__info-desc
          p Являюсь основателем школы биржевой торговли TrendUp.  Помогаю новичкам и опытным инвесторам получать стабильный доход на бирже. Консультирую  крупные компаний, таких как ИНПК и АгроЗерноЮг.

        ul.expert__features
          li.expert__features-item
            p.expert__features-title 2016
            p.expert__features-subtitle Открытие школы TrendUp
            p.expert__features-desc Основал школу биржевой торговли TrendUp в 2016 году в г. Ростове-на-Дону. Школа создана исключительно для общения инвесторов и обучения новичков.

          li.expert__features-item
            p.expert__features-title 2019
            p.expert__features-subtitle Предприниматель года
            p.expert__features-desc Победитель номинации "Предприниматель года" бизнес-сообщества Эквиум в 2019 году.

          li.expert__features-item
            p.expert__features-title 2020
            p.expert__features-subtitle Оборот 300 000 000
            p.expert__features-desc Оборот инвестиционного портфеля состоит полностью  из российских и американских акций.

      img.expert__photo(
        src="wp-content/themes/trading/august/img/expert/expert-1.jpg"
        srcset="wp-content/themes/trading/august/img/expert/expert-1@2x.jpg 2x"
        alt="Артем Сребный"
        width="566"
        height="711"
      )
