header.header-admin
  .header-admin__inner.container
    button.header-admin__burger.btn-burger(data-bs-toggle="offcanvas" data-bs-target="#sidebar")
      span.btn-burger__line

    a.header-admin__btn(href="/courses/?schedule" aria-label="Календарь")
      svg(class="header-admin__btn-icon icon" width="24" height="24")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#calendar-dates")

    button.header-admin__btn.header-admin__notification(
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#notification-modal"
      aria-label="Оповещения"
    )
      svg(class="header-admin__btn-icon icon" width="24" height="24")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#mail")

    .header-admin__user.dropdown
      button.header-admin__user-toggle.dropdown-toggle(
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-offset="-16,30"
        aria-label=""
      )
        img.header-admin__user-avatar(src="wp-content/themes/trading/august/img/webinar-card.jpg" alt="user")

      ul.header-admin__user-menu.dropdown-menu
        li.header-admin__user-item
          button.header-admin__user-btn.dropdown-item(type="button") Мой профиль
        li
          hr.header-admin__user-divider
        li.header-admin__user-item
          button.header-admin__user-btn.dropdown-item(type="button") Выйти
