section.specialists.section-centred
  .container-index
    .specialists__box
      .specialists__box-left
        h2.specialists__title Обучают только аттестованные специалисты ЦБ и управляющие активами

        p.specialists__desc На платформе вы можете лично задать вопрос эксперту. Ответы улучшают статистику на 
          span.specialists__desc-mark 20-40%

        a.specialists__test.btn-primary(href="#") Пройти тест

      .specialists__box-right
        .specialists__slider.swiper-container
          .specialists__list.swiper-wrapper
            .specialists__item.swiper-slide
              picture.specialists__item-picture
                img.specialists__item-picture-img(
                  src="wp-content/themes/trading/august/img/specialists/specialists-1.jpg"
                  alt=""
                  width="416"
                  height="505"
                )

            .specialists__item.swiper-slide
              picture.specialists__item-picture
                img.specialists__item-picture-img(
                  src="wp-content/themes/trading/august/img/specialists/specialists-2.jpg"
                  alt=""
                  width="469"
                  height="568"
                )

            .specialists__item.swiper-slide
              picture.specialists__item-picture
                img.specialists__item-picture-img(
                  src="wp-content/themes/trading/august/img/specialists/specialists-3.jpg"
                  alt=""
                  width="386"
                  height="468"
                )
