.notification-modal-item
  .notification-modal-item__messages
    p.notification-modal-item__info Заголовок 1

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    p.notification-modal-item__info Заголовок 1

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?

    .notification-modal-item__message
      picture.notification-modal-item__message-picture
        img.notification-modal-item__message-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="29"
          height="29"
        )

      .notification-modal-item__message-right
        .notification-modal-item__message-header
          p.notification-modal-item__message-name Виктор Климов
          p.notification-modal-item__message-time 19:30

        p.notification-modal-item__message-body Привет. Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет? Полиряд Как уже отмечалось, технология коммуникации означает сет?
