.webinar-materials
  h3.webinar-materials__title Доступные материалы

  ul.webinar-materials__list
    li.webinar-materials__item
      a.webinar-materials__item-link(
        href="#"
        download="name"
        target="_blank"
      ) Материал для обучения.doc
    li.webinar-materials__item
      a.webinar-materials__item-link(
        href="#"
        download="name"
        target="_blank"
      ) presentation.ppt
    li.webinar-materials__item
      a.webinar-materials__item-link(
        href="#"
        download="name"
        target="_blank"
      ) 123.doc
