section.partners
  .container
    h2.partners-title Наши надежные партнеры
    .partners__container
      .partners__container-item
        img(src="../wp-content/themes/trading/august/img/bks.png")
      .partners__container-item
        img(src="../wp-content/themes/trading/august/img/atas.png")

    h2.partners-title О нас пишут
    .partners__container
      a.partners__container-item(
        href="https://rostov.dk.ru/news/biznes-na-birzhe-rostovskaya-kompaniya-trendup-pomogaet-novichkam-vygodno-investirovat-237129851"
        target="_blank"
      )
        img(src="../wp-content/themes/trading/august/img/DEL-CVARTAL.png")
      a.partners__container-item(
        href="https://rostov.plus.rbc.ru/news/5dee12ab7a8aa9609e07046b"
        target="_blank"
      )
        img(src="../wp-content/themes/trading/august/img/rbk.png")
      a.partners__container-item(
        href="https://www.donnews.ru/TrendUp-sobral-nachinayuschih-investorov-so-vsey-Rossii-v-Rostove_101876"
        target="_blank"
      )
        img(src="../wp-content/themes/trading/august/img/DON-NEWS.png")
