extends ../templates/main

block content
  div(style="min-height: 100vh")
    .container
      h3 Авторизовался
    header.header-main
      .header-main__container
        .header-main__inner
          a.header-main__logo.header-main__logo_type_admin(href="/")
            include ../../img/header-main-logo.svg

          button.header-main__burger.btn-burger.btn-burger_theme_light(
            data-bs-toggle="modal"
            data-bs-target="#menu-modal"
          )
            span.btn-burger__line

          nav.header-main__nav
            ul.header-main__menu
              li.header-main__menu-item
                a.header-main__menu-link(href="#" target="_blank") О компании
                .header-main__menu-tippy
                  ul.header-main__menu-submenu
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Команда
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Эксперты
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Контакты
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Вакансии
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Отзывы

              li.header-main__menu-item
                a.header-main__menu-link(href="" target="_blank") Каталог
              li.header-main__menu-item
                a.header-main__menu-link(href="" target="_blank") Вебинары
              li.header-main__menu-item
                a.header-main__menu-link.header-main__menu-link_pick(href="#" target="_blank") TrendBook
                .header-main__menu-tippy
                  ul.header-main__menu-submenu
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Журнал
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") База знаний
                    li.header-main__menu-submenu-item
                      a.header-main__menu-submenu-link(href="#" target="_blank") Материалы

          .header-main__account
            a.header-main__account-btn(href="/courses/?schedule" aria-label="Календарь")
              svg(class="header-main__account-btn-icon icon" width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#calendar-dates")

            button.header-main__account-btn.header-main__account-notification(
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#notification-modal"
              aria-label="Оповещения"
            )
              svg(class="header-main__account-btn-icon icon" width="24" height="24")
                use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#mail")

            .header-main__account-user.dropdown
              button.header-main__account-user-toggle.dropdown-toggle(
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-offset="-16,30"
                aria-label=""
              )
                img.header-main__account-user-avatar(src="wp-content/themes/trading/august/img/webinar-card.jpg" alt="user")

              ul.header-main__account-user-menu.dropdown-menu
                li.header-main__account-user-item
                  button.header-main__account-user-btn.dropdown-item(type="button") Мой профиль
                li
                  hr.header-main__account-user-divider
                li.header-main__account-user-item
                  button.header-main__account-user-btn.dropdown-item(type="button") Выйти

    .container
      h3 Не авторизовался
    include ../../blocks/header-main/header-main


block modal
  include ../../blocks/modal/modal

block scripts
  script(src="js/header-main.js")
