section.school
  .container
    .school__inner
      .school__inner__description
        .school__inner__description-title TrendUP - это школа биржевой торговли
        .school__inner__description-subtitle Школа биржевой торговли 
          span.school__inner__description-subtitle-highlight TrendUP 
          | основана в 2016 году в Ростове-на-Дону. Наша компания активно развивает финансовое образование в области инвестиций по всей России. Мы не являемся брокером или его представителем. Платформа создана исключительно для общения инвесторов и обучения новичков.

      picture.school__picture
        source(
          media="(max-width: 833px)"
          srcset="wp-content/themes/trading/august/img/school/school-sm.jpg, wp-content/themes/trading/august/img/school/school-sm@2x.jpg 2x"
        )
        source(
          media="(max-width: 1439px)"
          srcset="wp-content/themes/trading/august/img/school/school-md.jpg, wp-content/themes/trading/august/img/school/school-md@2x.jpg 2x"
        )

        img.school__picture-img(
          src="wp-content/themes/trading/august/img/school/school.jpg"
          srcset="wp-content/themes/trading/august/img/school/school@2x.jpg 2x"
          alt=""
          width="566"
          height="453"
        )
