//- section.books
//-   .container.container_size_lg
//-     .books__inner
//-       h2.books__title Книги
//-       p.books__desc Материлы для достижения эффективности 

//-       p.books__declaration Об инвестициях и трейдинге

//-       .books__list
//-         .books__list-first
//-           //- include ../book-card-large/book-card-large
//-           article.book-card-large
//-             h3.book-card-large__title Шпаргалка для трейдера

//-             a.book-card-large__link(
//-               href="https://trendup.pro/wp-content/uploads/2021/02/shparalka-po-investicziyam-dlya-novichkov.pdf"
//-               download="shparalka-po-investicziyam-dlya-novichkov.pdf"
//-               target="_blank"
//-             )
//-               picture.book-card-large__cover
//-                 img.book-card-large__cover-img(
//-                   src="wp-content/themes/trading/august/img/books/books-5.jpg"
//-                   srcset="wp-content/themes/trading/august/img/books/books-5@2x.jpg 2x"
//-                   alt="Шпаргалка для трейдера"
//-                   width="233"
//-                   height="330"
//-                 )

//-               //- .book-card-large__rating
//-               //-   include ../rating/rating

//-               .book-card-large__overlay
//-                 span.book-card-large__download
//-                   svg(class="book-card-large__download-icon icon" width="42" height="42")
//-                     use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#download")

//-         article.book-card
//-           a.book-card__link.book-card__link_size_md(
//-             href="https://trendup.pro/wp-content/uploads/2021/02/instruktsia_2021-1.pdf"
//-             download="instruktsia_2021-1.pdf"
//-             target="_blank"
//-           )
//-             picture.book-card__cover
//-               img.book-card__cover-img(
//-                 src="wp-content/themes/trading/august/img/books/books-6.jpg"
//-                 srcset="wp-content/themes/trading/august/img/books/books-6@2x.jpg 2x"
//-                 alt="Шпаргалка для трейдеров поможет избежать 95% ошибок"
//-               )

//-             .book-card__overlay
//-               span.book-card__download
//-                 svg(class="book-card__download-icon icon" width="21" height="21")
//-                   use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#download")

//-           .book-card__info
//-             h3.book-card__title Шпаргалка для трейдеров поможет избежать 95% ошибок
//-             p.book-card__desc Книга основана на нашей практике, которую мы получили за время ведения своей деятельности

//-             //- .book-card__rating
//-             //-   ul.rating(data-rating="4.5")
//-             //-     li.rating__item
//-             //-     li.rating__item
//-             //-     li.rating__item
//-             //-     li.rating__item
//-             //-     li.rating__item

section.books
  .container
    .books__list
      article.book-card
        a.book-card__link(
          href="https://trendup.pro/wp-content/uploads/2021/02/instruktsia_2021-1.pdf"
          download="instruktsia_2021-1.pdf"
          target="_blank"
        )
          span.book-card__download
            svg(class="book-card__download-icon icon" width="21" height="21")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#download")

          picture.book-card__cover
            img.book-card__cover-img(
              src="wp-content/themes/trading/august/img/books/books-6.jpg"
              srcset="wp-content/themes/trading/august/img/books/books-6@2x.jpg 2x"
              alt="Шпаргалка для трейдеров поможет избежать 95% ошибок"
            )

          .book-card__info
            h3.book-card__title Бесплатные уроки с ценностью<br>1 000 000 рублей
            p.book-card__desc Взаимодействие корпорации и клиента, вопреки мнению П.Друкера, однократно.

            ul.book-card__rating.rating(data-rating="4.5")
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item

      article.book-card
        a.book-card__link(
          href="https://trendup.pro/wp-content/uploads/2021/02/instruktsia_2021-1.pdf"
          download="instruktsia_2021-1.pdf"
          target="_blank"
        )
          span.book-card__download
            svg(class="book-card__download-icon icon" width="21" height="21")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#download")

          picture.book-card__cover
            img.book-card__cover-img(
              src="wp-content/themes/trading/august/img/books/books-6.jpg"
              srcset="wp-content/themes/trading/august/img/books/books-6@2x.jpg 2x"
              alt=""
            )

          .book-card__info
            h3.book-card__title 26 вопросов, которые помогут улучшить торговлю
            p.book-card__desc Взаимодействие корпорации и клиента, вопреки мнению П.Друкера, однократно.

            ul.book-card__rating.rating(data-rating="4.5")
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item

      article.book-card
        a.book-card__link(
          href="https://trendup.pro/wp-content/uploads/2021/02/instruktsia_2021-1.pdf"
          download="instruktsia_2021-1.pdf"
          target="_blank"
        )
          span.book-card__download
            svg(class="book-card__download-icon icon" width="21" height="21")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#download")

          picture.book-card__cover
            img.book-card__cover-img(
              src="wp-content/themes/trading/august/img/books/books-6.jpg"
              srcset="wp-content/themes/trading/august/img/books/books-6@2x.jpg 2x"
              alt="Шпаргалка для трейдеров поможет избежать 95% ошибок"
            )

          .book-card__info
            h3.book-card__title Бесплатные уроки с ценностью<br>1 000 000 рублей
            p.book-card__desc Взаимодействие корпорации и клиента, вопреки мнению П.Друкера, однократно.

            ul.book-card__rating.rating(data-rating="4.5")
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item

      article.book-card
        a.book-card__link(
          href="https://trendup.pro/wp-content/uploads/2021/02/instruktsia_2021-1.pdf"
          download="instruktsia_2021-1.pdf"
          target="_blank"
        )
          span.book-card__download
            svg(class="book-card__download-icon icon" width="21" height="21")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#download")

          picture.book-card__cover
            img.book-card__cover-img(
              src="wp-content/themes/trading/august/img/books/books-6.jpg"
              srcset="wp-content/themes/trading/august/img/books/books-6@2x.jpg 2x"
              alt=""
            )

          .book-card__info
            h3.book-card__title Об инвестициях и трединге
            p.book-card__desc Взаимодействие корпорации и клиента, вопреки мнению П.Друкера, однократно.

            ul.book-card__rating.rating(data-rating="4.5")
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item
              li.rating__item
