.webinar-materials
  h3.webinar-materials__title Доступные материалы

  .webinar-materials__notice
    p.webinar-materials__notice-title Уведомление об отказе от ответственности

    p.webinar-materials__notice-info *Просматривая и скачивая материалы сайта вы полностью соглашаетесь с условиями 
      a.webinar-materials__notice-link(href="#" target="_blank") Уведомления об отказе от ответственности

  ul.webinar-materials__list
    li.webinar-materials__item
      a.webinar-materials__item-link(
        href="#"
        download="name"
        target="_blank"
      ) Материал для обучения.doc
    li.webinar-materials__item
      a.webinar-materials__item-link(
        href="#"
        download="name"
        target="_blank"
      ) presentation.ppt
    li.webinar-materials__item
      a.webinar-materials__item-link(
        href="#"
        download="name"
        target="_blank"
      ) 123.doc
