section.quiz-test
  ol.quiz-test__navigate
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 1
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 2
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 3
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 4
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 5
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 6
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 7
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 8
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 9
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 10
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 11
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 12
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 13
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 14

  .quiz-test__question
    h2.quiz-test__question-title Задание 1

    p.quiz-test__question-question Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет?

    a.quiz-test__question-picture(href="img/quest-img.png" target="_blank")
      picture.quiz-test__question-picture-picture
        img.quiz-test__question-picture-img(
          src="img/quest-img.png"
          alt=""
          width="280"
          height="158"
        )

  .quiz-test__answers
    .quiz-test__answer
      label.field-checkbox.quiz-test__answer-control
        input.field-checkbox__input.field-checkbox__input_invalid(type="checkbox" name="one" checked disabled)
        span.field-checkbox__box
          svg(class="field-checkbox__box-mark" width="16" height="12" viewBox="0 0 16 12")
            path(d="M5.95883 11.4879L15.2047 2.3163C15.4567 2.06628 15.4583 1.65925 15.2083 1.40714L14.001 0.190103C13.751 -0.0619501 13.344 -0.0635574 13.0919 0.18646L5.51949 7.69803L2.31635 4.46891C2.06633 4.2168 1.65929 4.21519 1.40724 4.46521L0.19015 5.6725C-0.0619568 5.92257 -0.0635639 6.3296 0.186454 6.58166L5.04972 11.4843C5.29974 11.7364 5.70677 11.738 5.95883 11.4879Z")
        span.field-checkbox__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-checkbox__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

    .quiz-test__answer
      label.field-checkbox.quiz-test__answer-control
        input.field-checkbox__input.field-checkbox__input_valid(type="checkbox" name="one" disabled)
        span.field-checkbox__box
          svg(class="field-checkbox__box-mark" width="16" height="12" viewBox="0 0 16 12")
            path(d="M5.95883 11.4879L15.2047 2.3163C15.4567 2.06628 15.4583 1.65925 15.2083 1.40714L14.001 0.190103C13.751 -0.0619501 13.344 -0.0635574 13.0919 0.18646L5.51949 7.69803L2.31635 4.46891C2.06633 4.2168 1.65929 4.21519 1.40724 4.46521L0.19015 5.6725C-0.0619568 5.92257 -0.0635639 6.3296 0.186454 6.58166L5.04972 11.4843C5.29974 11.7364 5.70677 11.738 5.95883 11.4879Z")
        span.field-checkbox__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-checkbox__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

    .quiz-test__answer
      label.field-checkbox.quiz-test__answer-control
        input.field-checkbox__input.field-checkbox__input_invalid(type="checkbox" name="one" disabled)
        span.field-checkbox__box
          svg(class="field-checkbox__box-mark" width="16" height="12" viewBox="0 0 16 12")
            path(d="M5.95883 11.4879L15.2047 2.3163C15.4567 2.06628 15.4583 1.65925 15.2083 1.40714L14.001 0.190103C13.751 -0.0619501 13.344 -0.0635574 13.0919 0.18646L5.51949 7.69803L2.31635 4.46891C2.06633 4.2168 1.65929 4.21519 1.40724 4.46521L0.19015 5.6725C-0.0619568 5.92257 -0.0635639 6.3296 0.186454 6.58166L5.04972 11.4843C5.29974 11.7364 5.70677 11.738 5.95883 11.4879Z")
        span.field-checkbox__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-checkbox__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

    .quiz-test__answer
      label.field-checkbox.quiz-test__answer-control
        input.field-checkbox__input.field-checkbox__input_invalid(type="checkbox" name="one" disabled)
        span.field-checkbox__box
          svg(class="field-checkbox__box-mark" width="16" height="12" viewBox="0 0 16 12")
            path(d="M5.95883 11.4879L15.2047 2.3163C15.4567 2.06628 15.4583 1.65925 15.2083 1.40714L14.001 0.190103C13.751 -0.0619501 13.344 -0.0635574 13.0919 0.18646L5.51949 7.69803L2.31635 4.46891C2.06633 4.2168 1.65929 4.21519 1.40724 4.46521L0.19015 5.6725C-0.0619568 5.92257 -0.0635639 6.3296 0.186454 6.58166L5.04972 11.4843C5.29974 11.7364 5.70677 11.738 5.95883 11.4879Z")
        span.field-checkbox__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-checkbox__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

  button.quiz-test__reply.btn-primary(type="button") Следующий вопрос
