section.quiz-test
  ol.quiz-test__navigate
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 1
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 2
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 3
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 4
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 5
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 6
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 7
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_correctly(type="button") 8
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 9
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn.quiz-test__navigate-btn_wrong(type="button") 10
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 11
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 12
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 13
    li.quiz-test__navigate-item
      button.quiz-test__navigate-btn(type="button" disabled) 14

  .quiz-test__question
    h2.quiz-test__question-title Задание 1

    p.quiz-test__question-question Как уже отмечалось, технология коммуникации означает сет. Полиряд Как уже отмечалось, технология коммуникации означает сет?

    a.quiz-test__question-picture(href="img/quest-img.png" target="_blank")
      picture.quiz-test__question-picture-picture
        img.quiz-test__question-picture-img(
          src="img/quest-img.png"
          alt=""
          width="280"
          height="158"
        )

  .quiz-test__answers
    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input.field-radio__input_invalid(type="radio" name="one" checked disabled)
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-radio__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input.field-radio__input_valid(type="radio" name="one" disabled)
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-radio__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input.field-radio__input_invalid(type="radio" name="one" disabled)
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-radio__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

    .quiz-test__answer
      label.field-radio.quiz-test__answer-control
        input.field-radio__input.field-radio__input_invalid(type="radio" name="one" disabled)
        span.field-radio__box
        span.field-radio__label Как уже отмечалось, технология коммуникации означает сет.
          span.field-radio__feedback Как уже отмечалось, технология коммуникацКак уже отмечалось, технология коммуникации означает сет. Как уже отмечалось, технология коммуникации означает сет. ии означает сет.

      a.quiz-test__answer-picture(href="img/quest-img.png" target="_blank")
        picture.quiz-test__answer-picture-picture
          img.quiz-test__answer-picture-img(
            src="img/quest-img.png"
            alt=""
            width="212"
            height="120"
          )

  button.quiz-test__reply.btn-primary(type="button") Следующий вопрос
