.utterance
  .container-index
    .utterance__box
      .utterance__box-left
        picture.utterance__picture
          source(srcset="wp-content/themes/trading/august/img/utterance/utterance.webp" type="image/webp")
          img.utterance__picture-img(
            src="wp-content/themes/trading/august/img/utterance/utterance.png"
            alt=""
            width="725"
            height="721"
          )

      .utterance__box-right
        figure.utterance__quote
          blockquote.utterance__quote-blockquote Люди на первом месте! Результат и забота о клиентах - вот наш фокус внимания. Мы пришли изменить культуру инвестирования. И мы верим, что с TrendUp прибыльно инвестировать может каждый
          picture.utterance__quote-picture
            source(srcset="wp-content/themes/trading/august/img/utterance/utterance-mobile.webp" type="image/webp")
            img.utterance__quote-picture-img(
              src="wp-content/themes/trading/august/img/utterance/utterance-mobile.png"
              alt=""
            )
          figcaption.utterance__quote-caption Founder 
            cite.utterance__quote-author  Артём Сребный

        a.utterance__join.btn-primary(href="#") Присоедениться
