section.tariffs
  .container
    .tariffs__list
      .tariffs__item.tariffs__first
        h2.tariffs__title.section-title Тарифы

        article.tariff
          .tariff__inner
            h3.tariff__title Самостоятельный

            ul.tariff__list
              li.tariff__list-item 8 модулей
              li.tariff__list-item 32 урока
              li.tariff__list-item 31 тест
              li.tariff__list-item Техническая поддержка

            footer.tariff__footer
              p.tariff__price
                span.tariff__price-label Цена:
                span.tariff__price-current 27 990 ₽
                span.tariff__price-old 38 000 ₽

              .tariff__bottom
                a.tariff__signup.tariff__signup_size_sm.btn-light.move-to(
                  href="#recording-course"
                  data-mt-duration="400"
                  data-mt-tolerance="81"
                  data-tariff="tariff-2"
                ) Записаться

      .tariffs__item.tariffs__second
        article.tariff.tariff_size_lg
          .tariff__inner
            h3.tariff__title.tariff__title_size_lg TrendUP Premium

            //- p.tariff__alert Также все из курса “Самостоятельный

            ul.tariff__list.tariff__list_size_lg
              li.tariff__list-item.tariff__list-item_mark_light 8 модулей
              li.tariff__list-item.tariff__list-item_mark_light 32 урока
              li.tariff__list-item.tariff__list-item_mark_light 31 тест
              li.tariff__list-item.tariff__list-item_mark_light Техническая поддержка
              li.tariff__list-item.tariff__list-item_mark_light Анализ вашего инвест&#8209;портфеля
              li.tariff__list-item.tariff__list-item_mark_light Дневник трейдера
              li.tariff__list-item.tariff__list-item_mark_light Онлайн-практика

            footer.tariff__footer
              p.tariff__price
                span.tariff__price-label Цена:
                span.tariff__price-current.tariff__price-current_size_lg 34 990 ₽
                span.tariff__price-old.tariff__price-old_size_lg 40 000 ₽

              .tariff__bottom
                a.tariff__signup.btn-primary.move-to(
                  href="#recording-course"
                  data-mt-duration="400"
                  data-mt-tolerance="81"
                  data-tariff="tariff-1"
                ) Записаться
