section.webinar-video
  .webinar-video__player(id="webinar-player-wrap")
    video.webinar-video__player-video(
      id="webinar-player"
      class="video-js"
      controls
      preload="auto"
      style="width: 100%"
      width="640"
      height="565"
      poster="wp-content/themes/trading/august/img/poster.png"
    )
      //- source(src="assets/lesson.webm" type="video/webm")
      //- source(src="assets/lesson.mp4" type="video/mp4")
      source(src="https://upload.wikimedia.org/wikipedia/commons/transcoded/a/ab/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm.720p.webm" type="video/webm" label="720P")
      source(src="https://upload.wikimedia.org/wikipedia/commons/transcoded/a/ab/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm.480p.webm" type="video/webm" label="480P" selected="true")
      source(src="https://upload.wikimedia.org/wikipedia/commons/transcoded/a/ab/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm.360p.webm" type="video/webm" label="360P")
      source(src="https://upload.wikimedia.org/wikipedia/commons/transcoded/a/ab/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm/Caminandes_3_-_Llamigos_-_Blender_Animated_Short.webm.240p.webm" type="video/webm" label="240P")
      p.vjs-no-js Для просмотра урока необходимо использовать браузер Google Chrome, Opera или Firefox, последней версии. Просмотр временно недоступен на устройствах с iOS.

  h2.webinar-video__title Наша раскрыть людям принцыпы заработка с помощью наших раскрыть людям принцыпы
