article.course-card-lg
  h2.course-card-lg__title Инвестиции по-американски
  p.course-card-lg__desc 1 месяц обучения

  p.course-card-lg__progress
    span.course-card-lg__progress-label Ваш прогресс обучения:
    span.course-card-lg__progress-status 0%

  .course-card-lg__progress-progress.progress
    .progress__bar(
      role="progressbar"
      style="width: 0"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    )

  a.course-card-lg__link.btn-primary(href="#") Начать обучение
