section.course-for
  .container
    h2.course-for__title.section-title Кому подойдет этот курс

    ul.course-for__list
      li.course-for__item
        picture.course-for__item-picture
          img.course-for__item-picture-img(
            src="wp-content/themes/trading/august/img/course-for/course-for-1.jpg"
            srcset="wp-content/themes/trading/august/img/course-for/course-for-1@2x.jpg 2x"
            alt="Студенты"
            width="371"
            height="352"
          )
        h3.course-for__item-title Студенты
        p.course-for__item-desc Молодое поколение все чаще задумывается о финансовом благополучии
        a.course-for__item-link.move-to(
          href="#consultation" data-mt-duration="800" data-mt-tolerance="81"
        ) Оставить заявку >

      li.course-for__item
        picture.course-for__item-picture
          img.course-for__item-picture-img(
            src="wp-content/themes/trading/august/img/course-for/course-for-2.jpg"
            srcset="wp-content/themes/trading/august/img/course-for/course-for-2@2x.jpg 2x"
            alt="Студенты"
            width="371"
            height="352"
          )
        h3.course-for__item-title Предприниматели
        p.course-for__item-desc Большие накопления  помогают вкладываться в перспективные стартапы
        a.course-for__item-link.move-to(
          href="#consultation" data-mt-duration="800" data-mt-tolerance="81"
        ) Оставить заявку >

      li.course-for__item
        picture.course-for__item-picture
          img.course-for__item-picture-img(
            src="wp-content/themes/trading/august/img/course-for/course-for-3.jpg"
            srcset="wp-content/themes/trading/august/img/course-for/course-for-3@2x.jpg 2x"
            alt="Студенты"
            width="371"
            height="352"
          )
        h3.course-for__item-title Фрилансеры
        p.course-for__item-desc Пассивный доход  - настоящая подушка безопасности от выгорания и прокрастинации
        a.course-for__item-link.move-to(
          href="#consultation" data-mt-duration="800" data-mt-tolerance="81"
        ) Оставить заявку >
