section.journal-article
  .container
    a.journal-article__back(href="")
      svg(class="journal-article__back-icon icon" width="24" height="24")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#chevron-left")
      | Вернуться в журнал

    h1.journal-article__title Шпаргалка для трейдиров<br>поможет избежать 95% ошибок

  .journal-article__picture-wrapper.container
    picture.journal-article__picture
      img.journal-article__picture-img(
        src="wp-content/themes/trading/august/img/journal-article/journal-article.jpg"
        alt=""
        width="1128"
        height="416"
      )

  .container
    a.journal-article__author(href="#")
      picture.journal-article__author-picture
        img.journal-article__author-picture-img(
          src="wp-content/themes/trading/august/img/webinar-card.jpg"
          alt=""
          width="96"
          height="96"
        )
      .journal-article__author-info
        p.journal-article__author-title Валерий Климов
        p.journal-article__author-desc Журналист

    .journal-article__column
      .journal-article__content.text-content
        h2 10 причин эффективности шваргалки для тредеров

        h4 Подзаголовок

        p
          a(href="#") Диониссийское начало готично 
          | использует Наибольший Общий Делитель (НОД). Монтаж, согласно традиционным представлениям, трансформирует комплекс агрессивности. Длина вектора по-прежнему востребована. Функция B(x,y), согласно традиционным представлениям, монотонно развивает художественный талант. Развивая эту тему, окрестность точки аккумулирует вектор. Алгебра, следовательно, свободна.

        h4 Подзаголовок

        | Диониссийское начало готично использует Наибольший Общий Делитель (НОД). Монтаж, согласно традиционным представлениям, трансформирует комплекс агрессивности. Длина вектора по-прежнему востребована. Функция B(x,y), согласно традиционным представлениям, монотонно развивает художественный талант. Развивая эту тему, окрестность точки аккумулирует вектор. Алгебра, следовательно, свободна.

        img(src="wp-content/themes/trading/august/img/journal-article/journal-article-1.jpg" alt="")

        a(href="#") Диониссийское начало готично

        ul
          li Анализировать
          li Формировать
          li Прогнозировать
          li Длина вектора по-прежнему востребована. ФункцияДлина вектора по-прежнему

        ol
          li Анализировать
            ol
              li Анализировать
              li Формировать
              li Прогнозировать
                ul
                  li Анализировать
                  li Формировать
                  li Прогнозировать
          li Формировать
          li Прогнозировать
          li Длина вектора по-прежнему востребована. ФункцияДлина вектора по-прежнему

        p Диониссийское начало готично использует Наибольший Общий Делитель (НОД). Монтаж, согласно традиционным представлениям, трансформирует комплекс агрессивности. Длина вектора по-прежнему востребована. Функция B(x,y), согласно традиционным представлениям, монотонно развивает художественный талант. Развивая эту тему, окрестность точки аккумулирует вектор. Алгебра, следовательно, свободна.

        blockquote Люди на первом месте! Результат и забота о клиентах - вот наш фокус внимания. Мы пришли изменить культуру инвестирования. И мы верим, что с TrendUp прибыльно инвестировать может каждый
          cite Артём Сребный

        div
          p Диониссийское начало готично использует Наибольший Общий Делитель (НОД). Монтаж, согласно традиционным представлениям, трансформирует комплекс агрессивности. Длина вектора по-прежнему востребована. Функция B(x,y), согласно традиционным представлениям, монотонно развивает художественный талант. Развивая эту тему, окрестность точки аккумулирует вектор. Алгебра, следовательно, свободна.

          blockquote «Люди на первом месте! Результат и забота о клиентах - вот наш фокус внимания. Мы пришли изменить культуру инвестирования. И мы верим, что с TrendUp прибыльно инвестировать может каждый»
            cite Артём Сребный

        q Люди на первом месте! Результат и забота о клиентах - вот наш фокус внимания. Мы пришли изменить культуру инвестирования. И мы верим, что с TrendUp прибыльно инвестировать может каждый

        table
          thead
            tr
              th ID
              th E-mail
              th Имя
              th Телефон
              th Товар
              th Сумма
              th Дата покупки
          tr
            td 37904
            td Rvdifdchemlom@gmail.com
            td Климов Александр Александрович
            td + 79525657985
            td Ежедневная аналитика, 990 р./месяц 
              b (регулярная подписка)
            td 100 000
            td 16 сен 2021, 21:50
          tr
            td 37904
            td Rvdifdchemlom@gmail.com
            td Климов Александр Александрович
            td + 79525657985
            td Ежедневная аналитика, 990 р./месяц 
              b (регулярная подписка)
            td 100 000
            td 16 сен 2021, 21:50
          tr
            td 37904
            td Rvdifdchemlom@gmail.com
            td Климов Александр Александрович
            td + 79525657985
            td Ежедневная аналитика, 990 р./месяц 
              b (регулярная подписка)
            td 100 000
            td 16 сен 2021, 21:50

        iframe(width="1280" height="720" src="https://www.youtube.com/embed/XQjihtavHjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      .journal-article__user
        picture.journal-article__user-picture
          img.journal-article__user-picture-img(
            src="wp-content/themes/trading/august/img/journal-article/journal-article-user.svg"
            alt="Иван Иванович"
            width="123"
            height="123"
          )

        .journal-article__controls
          p.journal-article__controls-item.journal-article__views(aria-label="Количество просмотров")
            svg(class="journal-article__controls-item-icon icon" width="24" height="24")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#eye")
            | 567

          button.journal-article__controls-item.journal-article__favorite(
            type="button"
            aria-label="Добавить в избранное"
          )
            svg(class="journal-article__controls-item-icon icon" width="24" height="24")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#like")
            | 285

          button.journal-article__controls-item.journal-article__messages(
            type="button"
            aria-label="Посмотреть комментарии"
          )
            svg(class="journal-article__controls-item-icon icon" width="24" height="24")
              use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#message-circle")
            | 345

        p.journal-article__date Опубликовано: 25 авг 2021

      include ../comments/comments

      h2.journal-article__subtitle В этом разделе

      .journal-article__chapters
        include ../journal-card/journal-card_size_sm
        include ../journal-card/journal-card_size_sm
