.collapse-questions.accordion
  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-1"
    )
      span.collapse-questions__info
        span.collapse-questions__title Вы являетесь брокером?
        //- span.collapse-questions__subtitle Вы являетесь брокером?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-1")
      .collapse-questions__body.accordion-body
        p.collapse-questions__paragraph TrendUp не является брокером или его представителем, а также не рекламирует их. Платформа создана исключительно для общения инвесторов и обучения новичков путём проведения вебинаров и предоставления видеозаписей.

  .collapse-questions__item.accordion-item
    button.collapse-questions__button.accordion-button.collapsed(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-2"
    )
      span.collapse-questions__info
        span.collapse-questions__title У преподавателей есть лицензии?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-2")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Все наши эксперты аттестованы Центральным Банком Российской Федерации, и обладают аттестатами 1-го, 5-го, и 6- уровня квалификации.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-3"
    )
      span.collapse-questions__info
        span.collapse-questions__title Обучение платное или бесплатное?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-3")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Обучение проводится как на платной, так и на бесплатной основе. Мы предоставляем гибкую систему оплат, благодаря которой, вы можете проходить курс и оплачивать уже с заработанных средств. Или оплатить полностью с любой карты или кошелька.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-4"
    )
      span.collapse-questions__info
        span.collapse-questions__title Как проходит обучение?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-4")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Обучение проходит в онлайн- формате. Все материалы вы получаете в записи и после приступаете к практике под руководством экспертов.  Все вопросы вы задаете куратору, и получаете оперативный ответ. Программа курса построена так, что вы проходите все уроки от А до Я и подтверждаете свои знания с помощью тестов. 

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-5"
    )
      span.collapse-questions__info
        span.collapse-questions__title Можно ли к вам приехать?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-5")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Да, мы находимся по адресу г. Ростов-на-Дону, пр. Стачки 74/29. Действует предварительная запись, для этого оставьте заявку.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-6"
    )
      span.collapse-questions__info
        span.collapse-questions__title Как с вами сотрудничать?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-6")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Инвестиции сейчас одна из актуальных тем. Поэтому мы работаем дополнительно по партнерской программе.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-7"
    )
      span.collapse-questions__info
        span.collapse-questions__title На каком рынке торгуете?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-7")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Все торги проходят через Московскую Биржу, так как на ней есть возможность торговать все инструменты, которые доступны и на американском, и на российском рынке ценных бумаг.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-8"
    )
      span.collapse-questions__info
        span.collapse-questions__title Через какую платформу торгуете?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-8")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Мы торгуем через платформу QUIK, так как это один из надежных терминалов для торговли на Московской Бирже. Дополнительно для анализа инструментов, мы используем аналитическую платформу Atas.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-9"
    )
      span.collapse-questions__info
        span.collapse-questions__title Нерезидент может работать с вами?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-9")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Да, так как мы подготовили отдельные чек-листы, которые нужны для работы нерезидентам. Вам нужно будет сделать все согласно инструкции, и сможете приступить к торговле на бирже.

  .collapse-questions__item.accordion-item
    button.collapsed.collapse-questions__button.accordion-button(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#question-10"
    )
      span.collapse-questions__info
        span.collapse-questions__title Получу ли я сертификат?

      svg(class="icon collapse-questions__plus" width="20" height="20")
        use(xlink:href="wp-content/themes/trading/august/img/svg/symbol/sprite.svg#plus-2")

    .accordion-collapse.collapse(id="question-10")
      .collapse-questions__body.accordion-body
        .collapse-questions__paragraph Сертификат предоставляем на любом формате курса, после успешного прохождения теории.
